.copy-button {
  font-size: .7rem; 
  border: none !important; 
  position: absolute !important;  
  top: 0.5rem; 
  right: 0.5rem;
  background-color: rgba(179, 179, 179, 0.5) !important; 
  color: white !important;
} 

.copy-button:hover {
  background-color: rgba(111, 111, 111, 0.5) !important; 
  color: white !important;
}

.code-wrapper {
  position: relative;
}